# Python
__pycache__
.mypy_cache/
.venv/

# VS Code
*.code-workspace

# app
output/
temp/
api_temp/
.env
ui/node_modules/
ui/dist/
.DS_Store
*/.DS_Store
*/VO Kit_shortclips
*/VO\ Kit_shortclips